###### Requirements without version specifiers ######
bokeh
numba
numpy
pandas
pytest
scipy
seaborn
simpy
networkx
pytest
seaborn
multiprocess
git+https://github.com/soudy/mesa#egg=mesa # this is mesa


###### Requirements with version:
