###### Requirements without version specifiers ######
bokeh
collections
csv
gc
multiprocess
matplotlib.pyplot
networkx
numba
numpy
pandas
pytest
os
scipy
seaborn
simpy
spatialentropy 
tqdm

git+https://github.com/soudy/mesa#egg=mesa # this is mesa

